h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.legend{
    color:#0000ff;
}
 .error{
   display: flex;
   justify-content: center;
   
   object-fit: contain;
     color: red;
     font-size: 17px;
     font-weight: 400;
     
}